name: e2e
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Kubernetes
        uses: engineerd/setup-kind@v0.5.0
        with:
          image: "kindest/node:v1.23.6"
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: "v3.9.0"
      - name: Install Kubectl
        uses: azure/setup-kubectl@v1
        with:
          version: "v1.23.6"
      - name: Run e2e tests
        run: |
          make e2e
      - name: Debug failure
        if: failure()
        run: |
          helm version
          kubectl version
          kubectl -n gatekeeper-system get all
          kubectl get crd
          kubectl get constrainttemplate
