name: helm
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: "v3.4.1"
      - name: Run lint
        run: make helm-lint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: "v3.4.1"
      - name: Run Helm test
        run: make helm-test
