name: opa
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  check-generate:
    runs-on: ubuntu-16.04
    steps:
      - name: Install yq
        shell: bash
        run: |
          wget -q https://github.com/mikefarah/yq/releases/download/3.4.1/yq_linux_amd64
          chmod +x yq_linux_amd64
          mkdir -p ~/.local/bin/
          mv ./yq_linux_amd64 ~/.local/bin/yq
      - name: Install kustomize
        shell: bash
        run: |
          wget -q https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv4.0.5/kustomize_v4.0.5_linux_amd64.tar.gz
          tar xzf kustomize_v4.0.5_linux_amd64.tar.gz
          rm kustomize_v4.0.5_linux_amd64.tar.gz
          mkdir -p ~/.local/bin/
          mv ./kustomize ~/.local/bin/kustomize
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: true
      - name: Run check
        shell: bash
        run: |
          export PATH=${PATH}:~/.local/bin
          make generate
          if [ -z "$(git status --porcelain)" ]; then
            echo "Everything looks good"
            exit 0
          else
            echo "All changes have not been generated"
            exit 1
          fi
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Run OPA tests
      uses: b4b4r07/action-opa@master
